* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    margin: 0 auto;
}

.carousel-container {
    margin: 0 auto;
    width: 600px;
    overflow: hidden;
    border: 5px solid black;
    height: 500px;
}

.carousel-slide {
    display: flex;
    width: 600px;
    height: 500px;
}

.carousel-item {
    width: 600px;
    height: 500px;
}

img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.carousel-actions{
    position: absolute;
}